<div class="butthonsActions">
    <button mat-raised-button mat-button (click)="open()">Open</button>
    <button mat-raised-button mat-button (click)="save()">Save</button>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onFormSubmit()">
    <table>
        <tr>
            <td>

                <mat-form-field>


                    <mat-label for="name">Name</mat-label>
                    <input placeholder="name" matInput formControlName="name"><mat-error
                        *ngIf="profileForm.get('name')?.hasError('required')" class="error">
                        Your name required. </mat-error>
                </mat-form-field>
            </td>
            <td>

                <mat-form-field><mat-label for="telephone">Telephone</mat-label>
                    <input placeholder="telephone" matInput formControlName="telephone"><mat-error
                        *ngIf="profileForm.get('telephone')?.hasError('required')" class="error">
                        Telephone name required. </mat-error></mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2"><mat-form-field><mat-label for="company">Presentation</mat-label>
                    <input placeholder="Presentation" matInput formControlName="presentation"><mat-error
                        *ngIf="profileForm.get('presentation')?.hasError('required')" class="error">
                        Historical company required. </mat-error></mat-form-field></td>
        </tr>
        <tr formArrayName="skills" class="arrayGroup">
            <td colspan="4">
                <h2>Skylls<a mat-icon-button color="primary" (click)="addskills()"><mat-icon>add</mat-icon></a></h2>
                <table>

                    <tr *ngFor="let skillItem of skills.controls; let i=index" [formGroupName]="i" class="skills">



                        <td>

                            <mat-form-field><mat-label for="name">Name {{i+1}}</mat-label>
                                <input placeholder="Name {{i+1}}" matInput formControlName="name"><mat-error
                                    *ngIf="skillItem.get('name')?.hasError('required')" class="error">
                                    Skill name required. </mat-error></mat-form-field>
                        </td>

                        <td>

                            <mat-label for="value">Value {{i+1}}</mat-label>

                            <mat-slider min="0" max="100" step="5" showTickMarks discrete [displayWith]="formatLabel"
                                class="sliderValue">
                                <input matSliderThumb formControlName="value"> {{skillItem.get('value')?.value}}
                            </mat-slider>


                            <mat-error *ngIf="profileForm.get('value')?.hasError('required')" class="error">
                                Skill value required. </mat-error>
                        </td>


                        <td><button mat-raised-button color="warn" (click)="deleteskill(i)">Delete {{i+1}}</button></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr formArrayName="socialmedias" class="arrayGroup">
            <td colspan="4">
                <h2>Social Media<a mat-icon-button color="primary"
                        (click)="addsocialmedias()"><mat-icon>add</mat-icon></a>
                </h2>
                <table>

                    <tr *ngFor="let socialmediaItem of socialmedias.controls; let i=index" [formGroupName]="i"
                        class="socialmedias">

                        <td>

                            <mat-form-field><mat-label for="name">Name {{i+1}}</mat-label>
                                <input placeholder="Name {{i+1}}" matInput formControlName="name"><mat-error
                                    *ngIf="socialmediaItem.get('name')?.hasError('required')" class="error">
                                    Social Media name required. </mat-error></mat-form-field>
                        </td>

                        <td><mat-form-field class="urlAddress">
                                <mat-label for="value">URL {{i+1}}
                                </mat-label>
                                <input id="url" type="text" matInput formControlName="url"><mat-error
                                    *ngIf="socialmediaItem.get('url')?.hasError('required')" class="error">
                                    Social Media url required. </mat-error>
                            </mat-form-field>
                        </td>
                        <td><button mat-raised-button color="warn" (click)="deletesocialmedia(i)">Delete
                                {{i+1}}</button></td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr formArrayName="historicals" class="arrayGroup">
            <td colspan="4">
                <h2>Historical<a mat-icon-button color="primary" (click)="addhistoricals()"><mat-icon>add</mat-icon></a>
                </h2>
                <table>

                    <tr *ngFor="let socialmediaItem of historicals.controls; let i=index" [formGroupName]="i"
                        class="historicals">

                        <td>
                            <table>
                                <tr>
                                    <td><mat-form-field><mat-label for="company">Company {{i+1}}</mat-label>
                                            <input placeholder="Company {{i+1}}" matInput
                                                formControlName="company"><mat-error
                                                *ngIf="socialmediaItem.get('company')?.hasError('required')"
                                                class="error">
                                                Historical company required. </mat-error></mat-form-field></td>
                                    <td><mat-form-field><mat-label for="start">Start {{i+1}}</mat-label>
                                            <input placeholder="Start {{i+1}}" matInput
                                                formControlName="start"><mat-error
                                                *ngIf="socialmediaItem.get('start')?.hasError('required')"
                                                class="error">
                                                Historical start required. </mat-error></mat-form-field></td>
                                    <td><mat-form-field><mat-label for="end">End {{i+1}}</mat-label>
                                            <input placeholder="End {{i+1}}" matInput formControlName="end"><mat-error
                                                *ngIf="socialmediaItem.get('end')?.hasError('required')" class="error">
                                                Historical end required. </mat-error></mat-form-field></td>
                                    <td colspan="4"><button mat-raised-button color="warn"
                                            (click)="deletesocialmedia(i)">Delete
                                            {{i+1}}</button></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><mat-form-field class="tecnical">
                                            <mat-label for="tecnical">Tecnical {{i+1}}
                                            </mat-label>
                                            <textarea id="tecnical" type="text" matInput
                                                formControlName="tecnical"></textarea><mat-error
                                                *ngIf="socialmediaItem.get('tecnical')?.hasError('required')"
                                                class="error">
                                                Historical tecnical required. </mat-error>
                                        </mat-form-field></td>
                                    <td colspan="1"><mat-form-field class="tecnical_short">
                                            <mat-label for="tecnical_short">Tecnical short {{i+1}}
                                            </mat-label>
                                            <textarea id="tecnical_short" type="text" matInput
                                                formControlName="tecnical_short"></textarea><mat-error
                                                *ngIf="socialmediaItem.get('tecnical_short')?.hasError('required')"
                                                class="error">
                                                Historical tecnical short required. </mat-error>
                                        </mat-form-field></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><mat-form-field class="manager">
                                            <mat-label for="manager">Manager {{i+1}}
                                            </mat-label>
                                            <textarea id="manager" type="text" matInput
                                                formControlName="manager"></textarea><mat-error
                                                *ngIf="socialmediaItem.get('manager')?.hasError('required')"
                                                class="error">
                                                Historical manager required. </mat-error>
                                        </mat-form-field></td>
                                    <td colspan="1"><mat-form-field class="manager_short">
                                            <mat-label for="manager_short">manager_short {{i+1}}
                                            </mat-label>
                                            <textarea id="manager_short" type="text" matInput
                                                formControlName="manager_short"></textarea><mat-error
                                                *ngIf="socialmediaItem.get('manager_short')?.hasError('required')"
                                                class="error">
                                                Historical manager short required. </mat-error>
                                        </mat-form-field></td>
                                </tr>

                            </table>











                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr formArrayName="certificates" class="arrayGroup">
            <td colspan="4">
                <h2>Certificate<a mat-icon-button color="primary"
                        (click)="addcertificates()"><mat-icon>add</mat-icon></a>
                </h2>
                <table>

                    <tr *ngFor="let certificateItem of certificates.controls; let i=index" [formGroupName]="i"
                        class="certificates">

                        <td>

                            <mat-form-field><mat-label for="name">Name {{i+1}}</mat-label>
                                <input placeholder="Name {{i+1}}" matInput formControlName="name"><mat-error
                                    *ngIf="certificateItem.get('name')?.hasError('required')" class="error">
                                    Certificate name required. </mat-error></mat-form-field>
                        </td>

                        <td><mat-form-field class="institute">
                                <mat-label for="value">Institute {{i+1}}
                                </mat-label>
                                <input id="url" type="text" matInput formControlName="institute"><mat-error
                                    *ngIf="certificateItem.get('institute')?.hasError('required')" class="error">
                                    Certificate institute. </mat-error>
                            </mat-form-field>
                        </td>

                        <td><mat-form-field class="credential">
                                <mat-label for="value">Credential {{i+1}}
                                </mat-label>
                                <input id="credential" type="text" matInput formControlName="credential"><mat-error
                                    *ngIf="certificateItem.get('credential')?.hasError('required')" class="error">
                                    Certificate credential required. </mat-error>
                            </mat-form-field>
                        </td>

                        <td><mat-form-field class="issued">
                                <mat-label for="value">Issued {{i+1}}
                                </mat-label>
                                <input id="issued" type="text" matInput formControlName="issued"><mat-error
                                    *ngIf="certificateItem.get('issued')?.hasError('required')" class="error">
                                    Certificate issued required. </mat-error>
                            </mat-form-field>
                        </td>
                        <td><button mat-raised-button color="warn" (click)="deletecertificate(i)">Delete
                                {{i+1}}</button></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>



    <button>SUBMIT</button>
</form>